<section class="jumbotron text-center background-image: url("../images/woman-donating.jpg");" >
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to the Virtual Blood Bank</h1>
        <p class="lead text-muted">Book an appointment, save a life.</p>
        <p>
            <button class="btn btn-outline-primary">
                <%= link_to "Sign Up", new_donor_path %></button>
            <button class="btn btn-outline-primary">
                <%= link_to "Sign In", signin_path %></button>
        </p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4" > 
            <div class="card mb-4 shadow-sm">
                <%= image_tag 'woman-donating.jpg' %>
                <div class="card-body">
                    <p class="card-text">Donating blood can help reduce the risk of hemochromatosis and cancer. Regular donations also help maintain a good weight, and overall health of the donor.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4" > 
            <div class="card mb-4 shadow-sm">
                <%= image_tag 'donation.jpg' %>
                <div class="card-body">
                    <p class="card-text">In one hour’s time, a person can donate one unit of blood that can be separated into four individual components that could help save multiple lives.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <%= image_tag 'donating.jpg' %>
                <div class="card-body">
                    <p class="card-text">Donating blood helps treating patients suffering from cancer, bleeding disorders, chronic anemia, sickle cell anemia, and other hereditary blood abnormalities.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Image Credits: istockphoto.com</p>
    </div>
</footer>
