<div class="col-md-2"></div>
<div class="col-md-8">
<%= form_for @donor, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
    <%= f.label :username, "Enter your username" %><br>
    <%= f.text_field :username, :placeholder => (@donor.errors.full_messages_for(:description).first ) %>
    <br><br>
    <%= f.label :password, "Enter your password" %><br>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Sign In" %>
 <% end %>
</div>
 <div class="col-md-2"></div>