<section class="jumbotron text-center" >
    <%= form_for(@donor) do |f| %>
        <h4 class="font-weight-light" for="username"<%= f.label :username, "Username:" %></h4>
        <%= f.text_field :username, :class => "errors", :placeholder => (@donor.errors.full_messages_for(:username).first || "This field is required") %>
        <br><br>
        <h4 class="font-weight-light" <%= f.label :blood_type, "Blood Type:" %></h4>
        <%= f.collection_select(:blood_type, BloodType.all, :blood_type, :blood_type) %>
        <br><br>
        <h4 class="font-weight-light" <%= f.label :age, "Age:" %></h4>
        <%= f.number_field :age, min:1 %>
        <br><br>
        <h4 class="font-weight-light"  <%= f.label :state, "State (location):" %></h4>
        <%= f.text_field :state %>
        <br><br>
        <h4 class="font-weight-light" <%= f.label :password, "Password:" %></h4>
        <%= f.password_field :password, :placeholder => (@donor.errors.full_messages_for(:password).first || "This field is required") %>
        <br><br><br>
        <%= f.submit "Sign Up" %>
    <% end %>
</section>
