<section class="jumbotron text-center" >
    <h2 class="display-4">Donor's Details</h2>
</section><br>

<%= flash[:message] %>

<section class="container">
    <h4 class="font-weight-light"><strong>Username:</strong> <%= @donor.username %></h4>
    <h4 class="font-weight-light"><strong>Blood Type:</strong> <%= @donor.blood_type %></h4>
    <h4 class="font-weight-light"><strong>Age:</strong> <%= @donor.age %></h4>
    <h4 class="font-weight-light"><strong>State:</strong> <%= @donor.state %></h4>
</section><br>

<section class="container text-center" >
    <h3>Ready to make your next donation?</h3>
    <h4 class="font-weight-light">Click <%= link_to "here", new_donor_appointment_path(@donor) %> to make an appointment.</h4><br>

    <h4><%= link_to "See available locations in your area.", clinics_path %></h4><br>
</section>