<section class="jumbotron text-center" >
    <h2 class="display-4">Donor's Details</h2>
</section>

<section class="container">
    <% if flash[:message] %>
        <div class="alert alert-success" role="alert"><%= flash[:message] %></div>
    <% end %><br>

    <h4 class="font-weight-light"><strong>Username:</strong> <%= @donor.username %></h4>
    <h4 class="font-weight-light"><strong>Blood Type:</strong> <%= @donor.blood_type %></h4>
    <h4 class="font-weight-light"><strong>Age:</strong> <%= @donor.age %></h4>
    <h4 class="font-weight-light"><strong>State:</strong> <%= @donor.state %></h4>
</section><br>

<section class="container text-center" >
    <h3>Ready to make your next donation?</h3>
    <h4 class="font-weight-light">Click <%= link_to "here", new_donor_appointment_path(@donor) %> to make an appointment.</h4>
    <h4 class="font-weight-light all_appointments"><%= link_to "See all of your appointments.", donor_appointments_path(@donor), :data => {:'donor_id' => "#{current_donor.id}"}  %></h4><br><br>
    <h4><%= link_to "See available locations in your area.", donors_clinics_path %></h4>
    <h4 class="font-weight-light all_clinics"><%= link_to "See all clinics.", clinics_path %></h4><br><br>
</section>

