<%= @message %>

<h2>Username: <%= @donor.username %></h2>
<h2>Blood Type: <%= @donor.blood_type %></h2>
<h2>Age: <%= @donor.age %></h2>
<h2>State: <%= @donor.state %></h2><br><br>

<h1>Ready to make your next donation?</h1>
<h3>Click <%= link_to "here", new_appointment_path %> to make an appointment.</h3>

<%= link_to "Log Out", signout_path, method: :delete %>
