<section class="jumbotron text-center" >
    <h2 class="display-4">New Appointment</h2>
</section><br>

<section class="container text-center">
    <%= form_for [@donor, @appointment] do |f| %>
        <h4 class="font-weight-light"><strong><%= f.label :name, "Choose a Clinic:" %><br></strong></h4>
        <%= f.collection_select(:clinic_id, @clinics, :id, :name) %><br><br>
        <h4 class="font-weight-light"><strong><%= f.label :datetime, "When would you like to donate?" %><br></strong></h4>
        <%= f.date_field :datetime %><br><br>
        <%= f.submit "Create Appointment"  %>
    <% end %><br><br> 
    
    <button class="btn btn-outline-primary">
        <%= link_to "Sign Out", signout_path, method: :delete %>
    </button>
</section>

